@model IEnumerable<ProductModel>
<div class="col-sm-3">
	@Html.Partial("_SidebarPartial")
</div>

<div class="col-sm-9 padding-right">
	@Html.Partial("_FilterProductsPartial")
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>
		@foreach (var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">

						<div class="productinfo text-center">
							<a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
								<img src="~/media/products/@item.Image" alt="" />
								<h2>@item.Price.ToString("#,##0 VNĐ")</h2>
								<p>@item.Name</p>
								<p>Danh mục : @item.Category.Name</p>
								<p>Thương hiệu : @item.Brand.Name</p>
							</a>
							@if (@item.Quantity == 0)
							{
								<button type="button" class="btn btn-default"><i class="fa fa-shopping-cart"></i>Hết hàng</button>
							}
							else
							{
								<button class="btn btn-default add-to-cart" data-product_id="@item.Id"><i class="fa fa-shopping-cart"></i>Thêm giỏ hàng</button>
							}
						</div>

					</div>


					<div class="choose">
						@if (User.Identity?.IsAuthenticated ?? false)
						{
							<ul class="nav nav-pills nav-justified">
								<li><button class="btnLove btn add-btn-wishlist" data-product_id="@item.Id">Yêu thích</button></li>
								<li>
									<button class="btnCompare btn add-btn-compare" data-product_id="@item.Id">So sánh</button>
								</li>
							</ul>
						}
					</div>
				</div>
			</div>
		}

	</div><!--features_items-->
</div>
@section Scripts {
	<script>
		$(document).ready(function () {

			$("#slider-range").slider({

				range: true,
				min: 1000,
				max: 90000,
				step: 100,
				values: [1000, 90000],
				slide: function (event, ui) {
					$("#amount").val(ui.values[0] + " kđ  - " + ui.values[1] + " kđ");
				}
			});
			$("#amount").val($("#slider-range").slider("values", 0) +
				" kđ -" + $("#slider-range").slider("values", 1) + " kđ");
			//btn lọc giá
			$('.btn-locgia').on('click', function () {

				var url = $(this).data("current_url");
				// alert(url);
				if (url) {
					window.location = url + "?startprice=" + $("#slider-range").slider("values", 0)
						+ "&endprice=" + $("#slider-range").slider("values", 1);
				}
				return false;
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function () {

			$('#sort_by').on('change', function () {

				var url = $(this).val();
				// alert(url);
				if (url) {
					window.location = url;
				}
				return false;
			});

		});
	</script>
}